body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

#mainDraw {
  width: 100%;
  height: 100%;
  margin: 0;
}

#question {
  position: absolute;
  top: 20px;
  right: 20px;

  span {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px #fff solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
  }

  p {
    display: none;
    position: absolute;
    color: #fff;
    width: 300px;
    right: 0;
    margin: 0;
    padding: 20px;

    a {
      color: #0f0;
    }
  }

  &:hover {
    p {
      display: block;
    }
  }
}